@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900 font-sans transition-colors duration-300;
}

html.dark body {
  @apply bg-gray-900 text-gray-100;
}
