#halo-glow {
  position: absolute;
  width: 120px;
  height: 120px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 1)
  );
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(100px);
}